* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
}

img{
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

svg {
    display: block;
}
