* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: inherit;
    font-size: inherit;
}

body {
    color: var(--gray700);
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

svg {
    display: block;
}