/* text  */

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 800;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-gray-600 {
    color: var(--gray600);
}

.text-sm {
    font-size: 14px;
}

.text-lg {
    font-size: 18px;
}

.text-underline {
    text-decoration: underline;
}

/* margin padding  */

.p-10 {
    padding: 10px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-1 {
    margin-top: 4px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-5 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mx-1 {
    margin-left: 4px;
    margin-right: 4px;
}

/* position  */

.relative {
    position: relative;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* height, width */

.max-w-500 {
    max-width: 500px;
}

.max-w-600 {
    max-width: 600px;
}

.w-full {
    width: 100%;
}