:root {
    --gray50: #f9fafb;
    --gray100: #f3f4f6;
    --gray200: #e5e7eb;
    --gray300: #d1d5db;
    --gray400: #9ca3af;
    --gray500: #6b7280;
    --gray600: #4b5563;
    --gray700: #374151;
    --gray800: #1f2937;

    --yellow400: #facc15;
    --yellow600: #ca8a04;
    --yellow800: #854d0e;

    --red50: #fef2f2;
    --red100: #fee2e2;
    --red200: #fecaca;
    --red300: #fca5a5;
    --red400: #f87171;
    --red500: #ef4444;
    --red600: #dc2626;
    --red700: #b91c1c;
    --red800: #991b1b;

    --white: #FFFFFF;
    --black: #000000;

    --navbar-height: 70px;
    --layout-height: var(100vh - var(--navbar-height));
}
